*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body{
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(120deg, #1e1e2f, #2c2c3e);

  color: #fff;
}



.container{
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}



.card{
  width: 500px;

  padding: 45px;

  border-radius: 25px;

  background: #2b2b3c;

  box-shadow:
  0 0 30px rgba(100, 100, 255, 0.2);

  text-align: center;
}

.card h1{
  margin-bottom: 10px;

  font-size: 32px;
}

.sub{
  margin-bottom: 35px;

  opacity: 0.7;

  font-size: 15px;
}



.form{
  display: flex;
  flex-direction: column;
}

.form input{
  width: 100%;

  padding: 15px;

  margin-bottom: 18px;

  border-radius: 14px;

  border: none;
  outline: none;

  background: #ccc;

  color: #000;

  font-size: 15px;

  transition: 0.3s;
}

.form input:focus{
  box-shadow:
  0 0 15px rgba(120,120,255,0.5);
}

.form input::placeholder{
  color: #666;
}


.btn{
  width: 100%;

  padding: 15px;

  border: none;

  border-radius: 15px;

  background: linear-gradient(90deg, #5cff8d, #3bbf5a);

  color: #fff;

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;

  box-shadow: 0 0 15px #5cff8d;

  transition: 0.3s;
}

.btn:hover{
  transform: scale(1.03);
}



@media(max-width: 600px){

  .card{
    width: 100%;
    padding: 30px 20px;
  }

}