*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body{
  min-height: 100vh;
  background: linear-gradient(135deg,#232336,#2f2f4a,#1e1e32);
  color: white;
}

.layout{
  display: flex;
  min-height: 100vh;
}


.sidebar{
  width: 220px;
  background: rgba(255,255,255,0.06);
  padding: 20px 15px;
  backdrop-filter: blur(10px);
}

.logo{
  font-size: 28px;
  margin-bottom: 40px;
}

.sidebar ul{
  list-style: none;
}

.sidebar li{
  padding: 14px 15px;
  margin-bottom: 10px;
  border-radius: 14px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 500;
}

.sidebar li:hover{
  background: rgba(255,255,255,0.08);
}

.sidebar .active{
  background: rgba(130, 97, 255, 0.15);
  box-shadow: 0 0 15px rgba(122, 90, 255, 0.3);
}

.sidebar ul li a{
  text-decoration: none;
  color: inherit;
  display: block;
}



.content{
  flex: 1;
}

.topbar{
  height: 40px;
  background: rgba(255,255,255,0.06);
}



.card{
  width: 70%;
  min-height: 520px;

  margin: 60px auto 20px;

  padding: 30px;

  border-radius: 30px;

  background: rgba(255,255,255,0.05);

  backdrop-filter: blur(15px);

  box-shadow:
  0 0 45px rgba(120, 90, 255, 0.2),
  inset 0 0 20px rgba(255,255,255,0.03);
}

.card h2{
  text-align: center;
  margin-bottom: 25px;
  font-size: 30px;
}



.table-header{
  display: flex;
  gap: 30px;
  padding: 0 20px;
  margin-bottom: 10px;
}

.header{
  width: 180px;
  height: 38px;

  border-radius: 14px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
}

.orange{
  background: #f89f2f;
}

.green{
  background: #4caf50;
}

.blue{
  background: #3f95ea;
}



.table{
  width: 100%;
}

.row{
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 120px;

  align-items: center;

  padding: 16px 25px;

  border: 1px solid rgba(255,255,255,0.2);

  font-size: 15px;

  transition: 0.3s;
}

.row:hover{
  background: rgba(255,255,255,0.05);
}



.actions{
  display: flex;
  justify-content: center;
  gap: 25px;
}

.edit{
  color: #ffe600;
  cursor: pointer;
  transition: 0.3s;
}

.delete{
  color: #ff2e2e;
  cursor: pointer;
  transition: 0.3s;
}

.edit:hover,
.delete:hover{
  transform: scale(1.15);
}



.button-area{
  width: 100%;
  display: flex;
  justify-content: center;
}

button{
  width: 260px;
  padding: 16px;

  border: none;
  border-radius: 18px;

  background: linear-gradient(90deg,#643dff,#7d5dff);

  color: white;
  font-size: 20px;
  font-weight: 600;

  cursor: pointer;

  box-shadow:
  0 0 25px rgba(120, 90, 255, 0.7);

  transition: 0.3s;
}

button:hover{
  transform: translateY(-2px);

  box-shadow:
  0 0 35px rgba(120, 90, 255, 1);
}


@media(max-width: 900px){

  .sidebar{
    display: none;
  }

  .card{
    width: 95%;
  }

  .table-header{
    gap: 10px;
    padding: 0;
  }

  .header{
    width: 100%;
  }

  .row{
    grid-template-columns: 1fr;
    gap: 15px;
    text-align: center;
  }

}